<h1>New post</h1>

<%= form_tag(posts_path) do%>
		<% @categories.each do |c|%>
			<%= check_box_tag "category_#{c.id}", "#{c.category_name}"%> <%= c.category_name %><br>
	<!-- <div id="categs">
	</div> -->
		<% end %>
	<%= link_to "Add new Category",  new_category_path, remote: true, id: "new_categ" %>
	<p>
		<%= label_tag :title%> <br />
		<%= text_field_tag :title %>
	</p>
	<p>
		<%= label_tag :content%> <br />
		<%= text_area_tag :content %>
	</p>
	<p>
		<%= file_field_tag :photo %>
	</p>
	<p>
		<%= button_tag "Publish" %> 
	</p>	
<% end %>

	<div id="new_category">
	</div>
<!--
<%= form_for @post do |f| %>
	<p>
		<%= f.label :title%> <br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content%> <br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.file_field :photo %>
	</p>
	<p>
		<%= f.button "Publish" %> 
	</p>	
<% end %> -->

