<% content_for :title do %>Home<% end %>
<h2>Welcome to Valayism.com</h2>
<% if not session[:username].nil? %>
	<%= link_to "Logout", logout_path, :method => "post" %>
	<%= link_to "Dashboard", dashboard_path, :method=> "get"%>
<% end %>
<hr />
<% @categories.each do |c| %>
	<%= link_to c.category_name, post_with_category_path(name: c.category_name) %><br>
<% end %>
<hr />
<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<%= post.content %><br>
	<hr />
<% end %>