<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Valayism</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Main Style -->
	<link rel="stylesheet" href="../assets/style.css">
	<!-- Skins -->
	<link rel="stylesheet" href="../assets/skins.css">
	<!-- Responsive Style -->
	<link rel="stylesheet" href="../assets/responsive.css">
	<!-- Favicons -->
	<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../assets/base.css">
	<link rel="stylesheet" type="text/css" href="../assets/lists.css">
	<link rel="stylesheet" type="text/css" href="../assets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="../assets/prettyPhoto.css">
	<link rel="stylesheet" type="text/css" href="../assets/animate-custom.css"> -->

</head>
<body class="body-boxed-2">

<div class="loader"><i class="loader_html fa-spin"></i></div>

<div id="wrap" class="stripe grid_1200 boxed-2">
	<div class="wrap-search">
		<form method="post">
			<input type="search" name="s" value="Search here ..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
		</form>
	</div><!-- End wrap-search -->
	<header id="header">
		<div class="container clearfix">
			<div class="logo"><%= link_to "Valayism" ,posts_path%></div><!-- End logo -->
			<div class="header-follow">
				<% if session[:username].nil? %>
					<div class="header-follow-a">Follow Me</div>
				<% end %>
			</div><!-- End header-follow -->
			<div class="header-search">
				<div class="header-search-a"><i class="fa fa-search"></i></div>
			</div><!-- End header-search -->
			<nav class="navigation">
				<ul>
					<li class="current_page_item mega-menu"><%= link_to "Home", posts_path %>
					</li>
					<% if not session[:username].nil? %>
						<li><%= link_to "Dashboard", dashboard_path, :method=> "get"%></li>
						<li><%= link_to "Logout", logged_out_path, :method => "get" %></li>
					<% end %>
				</ul>
			</nav><!-- End navigation -->
			<nav class="navigation_mobile navigation_mobile_main">
				<div class="navigation_mobile_click">Go to...</div>
				<ul></ul>
			</nav><!-- End navigation_mobile -->
		</div><!-- End container -->
	</header><!-- End header -->
	
	<div class="clearfix"></div>
	<!-- Section starts-->

	<div class="sections"> 
		<%= yield %>
	</div>
	<!-- End sections -->
	
	<div class="clearfix"></div>
	
	<footer id="footer">
		<div class="container">
			<div class="copyrights">Copyright 2015 Valayism.com </div>
			<div class="social-ul">
				<ul>
					<li class="social-facebook"><a href="index-boxed-2.html#"><i class="fa fa-facebook"></i></a></li>
					<li class="social-twitter"><a href="index-boxed-2.html#"><i class="fa fa-twitter"></i></a></li>
					<li class="social-google"><a href="index-boxed-2.html#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div><!-- End social-ul -->
		</div><!-- End container -->
	</footer><!-- End footer -->
	
</div><!-- End wrap -->

<div class="go-up"><i class="fa fa-chevron-up"></i></div>

<%= javascript_include_tag "jquery.min.js"%>
<%= javascript_include_tag "html5.js"%>
<%= javascript_include_tag "jquery.nicescroll.min.js"%>
<%= javascript_include_tag "modernizr.js"%>
<%= javascript_include_tag "jquery.isotope.min.js"%>
<%= javascript_include_tag "tabs.js"%>
<%= javascript_include_tag "jquery.prettyPhoto.js"%>
<%= javascript_include_tag "jquery.bxslider.min.js"%>
<%= javascript_include_tag "jquery.tweet.js"%>
<%= javascript_include_tag "jflickrfeed.min.js"%>
<%= javascript_include_tag "jquery.jribbble-1.0.1.ugly.js"%>
<%= javascript_include_tag "custom.js"%>


<!-- End js -->

</body>
</html>